li {
  color: red;
}
/*클래스 선택자: .클래스이름*/
.orange {
  color: orange;
}
/*아이디 선택자 : #아이디이름*/
#blue {
  color: blue;
}
/*일치 선택자*/
span.orange {
  background-color: yellow;
}

ul > .orange {
  background-color: red;
}

/*하위선택자*/

div .orange {
  text-decoration: line-through;
}
a:hover {
  color: white;
  background-color: black;
}
a:active {
  background-color: red;
}

/*인접형제*/

.orange + li {
  color: goldenrod;
}

/*일반형제 선택자 : 선택자 ~ 선택자 */

.orange ~ li {
  background-color: aqua;
}

a:hover {
  color: white;
  background-color: black;
}

a:active {
  background-color: red;
}

.fruits span:first-child {
  color: red;
}
.fruits div:first-child {
  color: orange;
}
.fruits h3:last-child {
  color: red;
}
/*n th-child(n) ABC가 형제 요소중 n번째*/
.fruits *:nth-child(2) {
  color: aqua;
}
.fruits *:nth-child(2n) {
  background-color: yellow;
}
.fruits *:nth-child(2n + 1) {
  background-color: green;
}
/*abc*/
.fruits *not(span) {
  text-decoration: line-through;
}

/*가상 요소 선택자*/
/**/
.fruits::before {
  content: "과일 목록 시작";
}
.fruits::after {
  content: "과일 목록 끝";
}

/*속성 선택자*/
[readonly] {
  background-color: aqua;
}

input:not([placeholder]) {
  background-color: blue;
}
