@font-face {
  font-family: "HSSaemaul-Regular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/HSSaemaul-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "JNE-Yuna-TTF-Regular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2408-1@1.0/JNE-Yuna-TTF-Regular.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

.box {
  width: 700;
  /*px,em, rem,%등으로 지정
  --em: 상위 요소 크기의 ??배로 하겠다
  --rem: 문서의 최상위 요소, html요소 크기의 몇 배로
  */
  height: 200px;
  font-size: 36px;
  font-weight: 900;
  line-height: 4; /*요소의 글꼴 크기의 배수로 지정*/
  text-align: center;
  color: rgb(255, 110, 129);
  font-family: "Anton", sans-serif;
}

.google {
  font-family: "JNE-Yuna-TTF-Regular";
  color: white;
  background-color: rgb(255, 220, 235);
  font-size: larger;
}
.noon {
  font-family: "HSSaemaul-Regular";
  color: rgb(255, 81, 142);
  text-align: center;
}

* {
  background-color: rgb(247, 255, 244);
}
button {
  border: 1px solid black;
  background-color: white;
  border-radius: 5px;
}
/*box-sizing*/

.container {
  /*box2를 나란히 두기 위해 사용*/
  display: flex;
}
.box2 {
  width: 200px;
  height: 100px;
  padding: 20px;
  border: 1px solid black;
  background-color: wheat;
}

.content-box {
  box-sizing: content-box;
}
.border-box {
  box-sizing: border-box;
}
/*
장단점
content-box
장점-
콘텐츠의 유연성 : 지정된 크기에 따라 동적으로 조정되므로, 디자인의 유연성이 높다.
디자인 제어 : 패딩, 테두리를 분리하여 디자인 요소를 더 정교하게 제어가능
단점-
레이아웃 복잡성 : 다 각각 게산해야 하므로 시간과 노력이 소요
계산 오류 가능성
border-box
장점- 
예측가능성 : 총 너비와 높이가 예측하기 쉽다.
유지보수,간편한 게산
단점-
내용 공간 감소 : 실제 콘텐츠 영역이 작아짐
*/

.container2 {
  display: flex;
}
.box3 {
  width: 300px;
  height: 150px;
  padding: 20px;
  border: solid 1px bisque;
  background-color: bisque;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 50px;
  margin-left: 50px;
}
.content-box2 {
  box-sizing: content-box;
}
.border-box2 {
  box-sizing: border-box;
}

.square {
  width: 100px;
  height: 100px;
  border: 1px solid;
  display: inline-block;
}
.d-none {
  display: none;
  background-color: red;
}
.invisible {
  visibility: hidden;
  background-color: orange;
}
.opacity-0 {
  opacity: 0;
  background-color: tomato;
}
.opacity-0:hover {
  opacity: 1;
}

.opa2 {
  width: 200px;
  height: 200px;
  border: solid 1px aquamarine;
  background-color: aquamarine;
  font-family: "Protest Guerrilla", sans-serif;
  font-size: 30px;
  text-align: center;
  line-height: 200px;
}

.opa2:hover {
  opacity: 0;
}
.invi2 {
  width: 200px;
  height: 200px;
  border: solid 1px aquamarine;
  background-color: aquamarine;
}
.invi2:hover {
  visibility: hidden;
}

.scroll {
  overflow: scroll;
  overflow-y: auto;
  background-color: beige;
  color: rgb(255, 98, 0);
}

.auto {
  overflow: auto;
  background-color: beige;
  color: rgb(255, 98, 0);
}
